In [10]:
# Solution to Queston 1.

def convert_to_2d(original, m, n):
    if m * n != len(original):
        return None  # Invalid dimensions

    result = []
    for i in range(m):
        row = original[i * n:(i + 1) * n]
        result.append(row)

    return result
original = [1, 2, 3, 4]
m = 2
n = 2

result = convert_to_2d(original, m, n)
print(result)

[[1, 2], [3, 4]]

In [2]:
# Solution to Queston 2.

def complete_rows(n):
    k = 0  # Number of complete rows
    while n >= k + 1:
        k += 1
        n -= k
    return k
n = 5
result = complete_rows(n)
print(result)

2

In [3]:
# Solution to Queston 3.

def sorted_squares(nums):
    return sorted(num * num for num in nums)
nums = [-4, -1, 0, 3, 10]
result = sorted_squares(nums)
print(result)

[0, 1, 9, 16, 100]

In [4]:
# Solution to Queston 4.

def find_disinct_elements(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)

    distinct_nums1 = list(set1 - set2)
    distinct_nums2 = list(set2 - set1)

    return [distinct_nums1, distinct_nums2]
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]

result = find_disinct_elements(nums1, nums2)
print(result)

[[1, 3], [4, 6]]

In [5]:
# Solution to Queston 5.

def distance_value(arr1, arr2, d):
    distance = 0

    for num1 in arr1:
        for num2 in arr2:
            if abs(num1 - num2) <= d:
                break
        else:
            distance += 1

    return distance
arr1 = [4, 5, 8]
arr2 = [10, 9, 1, 8]
d = 2

result = distance_value(arr1, arr2, d)
print(result)

2

In [7]:
# Solution to Queston 6.

def find_duplicates(nums):
    duplicates = []

    for num in nums:
        index = abs(num) - 1  # Convert the number to its index

        if nums[index] < 0:
            duplicates.append(abs(num))
        else:
            nums[index] = -nums[index]

    return duplicates
nums = [4, 3, 2, 7, 8, 2, 3, 1]
result = find_duplicates(nums)
print(result)

[2, 3]

In [8]:
# Solution to Queston 7.

def find_min(nums):
    left = 0
    right = len(nums) - 1

    while left < right:
        mid = left + (right - left) // 2

        if nums[mid] > nums[right]:
            left = mid + 1
        else:
            right = mid

    return nums[left]
nums = [3, 4, 5, 1, 2]
result = find_min(nums)
print(result)

1

In [9]:
# Solution to Queston 8.

def find_original_array(changed):
    original = []
    counts = {}

    for num in changed:
        counts[num] = counts.get(num, 0) + 1

    for num in changed:
        if counts.get(num, 0) == 0:
            continue

        counts[num] -= 1
        double = num * 2

        if counts.get(double, 0) == 0:
            return []

        counts[double] -= 1
        original.append(num)

    return original
changed = [1, 3, 4, 2, 6, 8]
result = find_original_array(changed)
print(result)

[1, 3, 4]